In [1]:
p = '/Users/grigorkeropyan/Desktop/YSU_thesis/all_data/Ses01F_impro01_F001_0/pics/Ses01F_impro01_F001_0_2.jpg'

In [ ]:
cv2.resize()

In [1]:
import os
import sys
import csv
import re
import math
import pandas as pd
import os
import seaborn as sns
from glob import glob
# import pdb

import os
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.backends.backend_agg import FigureCanvasAgg as FigureCanvas
import matplotlib.style as ms
from tqdm import tqdm
import pickle

from moviepy.editor import *

In [2]:
df_iemocap = pd.read_csv("../data/preprocessed_data/df_iemocap.csv")

In [3]:
df_iemocap.head()

,start_time,end_time,file_path,emotion,session,sex
0,4.24,5.23,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F
1,5.26,7.16,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F
2,7.35,8.85,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F
3,9.20,13.02,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F
4,13.04,22.74,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F

In [4]:
df_iemocap['length'] = df_iemocap.end_time - df_iemocap.start_time

In [5]:
df_iemocap

,start_time,end_time,file_path,emotion,session,sex,length
0,4.24,5.2300,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,0.9900
1,5.26,7.1600,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,1.9000
2,7.35,8.8500,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,1.5000
3,9.20,13.0200,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,3.8200
4,13.04,22.7400,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,9.7000
...,...,...,...,...,...,...,...
10034,337.74,347.8900,/home/student/keropyan/data/iemocap/Session5/s...,xxx,5,M,10.1500
10035,350.43,354.1500,/home/student/keropyan/data/iemocap/Session5/s...,xxx,5,M,3.7200
10036,360.78,366.1200,/home/student/keropyan/data/iemocap/Session5/s...,fru,5,M,5.3400
10037,367.03,369.6377,/home/student/keropyan/data/iemocap/Session5/s...,ang,5,M,2.6077
10038,372.59,377.3700,/home/student/keropyan/data/iemocap/Session5/s...,ang,5,M,4.7800

In [6]:
set(df_iemocap.sex)

{'F', 'M'}

In [7]:
df_ravdess = pd.read_csv('../data/preprocessed_data/df_ravdess.csv')

In [8]:
df_ravdess.head()

,file_path,emotion,actor,sex,length
0,/home/student/keropyan/data/RAVDESS/Actor_13/0...,sad,13,M,3.48
1,/home/student/keropyan/data/RAVDESS/Actor_13/0...,dis,13,M,3.18
2,/home/student/keropyan/data/RAVDESS/Actor_13/0...,neu,13,M,3.22
3,/home/student/keropyan/data/RAVDESS/Actor_13/0...,sad,13,M,3.48
4,/home/student/keropyan/data/RAVDESS/Actor_13/0...,sad,13,M,3.24

In [9]:
df_enterface = pd.read_csv('../data/preprocessed_data/df_enterface.csv')

In [10]:
df_enterface.head()

                                           file_path emotion  subject  length
0  /home/student/keropyan/data/enterface_database...     dis        3    6.00
1  /home/student/keropyan/data/enterface_database...     dis        3    3.40
2  /home/student/keropyan/data/enterface_database...     dis        3    3.04
3  /home/student/keropyan/data/enterface_database...     dis        3    2.92
4  /home/student/keropyan/data/enterface_database...     dis        3    2.96

In [ ]:
df_iemocap.file_path[4]

In [ ]:
df_ravdess.file_path[4]

In [ ]:
df_enterface.file_path[4]

In [ ]:
emotions = []
emotions.extend(df_iemocap.emotion)

In [ ]:
ems = {
    'sad': 1491,
    'dis': 409,
    'neu': 1804,
    'hap': 999,
    'ang': 1510,
    'fea': 447,
    'sur': 514,
    'calm': 192,
    'fru': 1849,
    'xxx': 2507,
    'exc': 1041,
    'oth': 3
}
sns.barplot(list(ems.keys()), np.array(list(ems.values()))*100/sum(list(ems.values())))

In [ ]:
ems = {
    'sad': 1491,
    'dis': 409,
    'neu': 1804,
    'hap': 999,
    'ang': 1510,
    'fea': 447,
    'sur': 514,
#     'calm': 192,
    'fru': 1849,
#     'xxx': 2507,
    'exc': 1041,
#     'oth': 3
}
sns.barplot(list(ems.keys()), np.array(list(ems.values()))*100/sum(list(ems.values())))

In [ ]:
ems = {
    'sad': 1491,
#     'dis': 409,
    'neu': 1804,
    'hap': 999,
    'ang': 1510,
#     'fea': 447,
#     'sur': 514,
    'fru': 1849,
    'exc': 1041,
    'other': 3 + 514 + 447 + 409
}
sns.barplot(list(ems.keys()), np.array(list(ems.values()))*100/sum(list(ems.values())))

In [ ]:
aa = list(df_enterface.emotion)

In [ ]:
type(list(map(str, aa))[0])

In [ ]:
lns = np.array(df_iemocap.end_time - df_iemocap.start_time)

In [ ]:
(lns < 3).sum()

In [ ]:
lns.shape

In [ ]:
'''rav_duration = []
for i, row in df_ravdess.iterrows():
    vid = VideoFileClip(row[0])
    rav_duration.append(vid.duration)

df_ravdess['length'] = rav_duration  '''

In [ ]:
df_ravdess

In [ ]:
#df_ravdess.to_csv('../data/preprocessed_data/df_ravdess.csv', index=False)

In [ ]:
#df_ravdess = pd.read_csv('../data/preprocessed_data/df_ravdess.csv')

In [ ]:
df_ravdess

In [ ]:
df_enterface

In [ ]:
'''ent_duration = []
for i, row in df_enterface.iterrows():
    vid = VideoFileClip(row[0])
    ent_duration.append(vid.duration)

df_enterface['length'] = ent_duration   '''

In [ ]:
#df_enterface.to_csv('../data/preprocessed_data/df_enterface.csv', index=False)

In [11]:
# filtering and combining some emotions!
current_emos = ['sad', 'neu', 'hap', 'ang', 
          'fru', 'exc', 'oth', 'dis', 'fea', 'sur']

final_emos = ['sad', 'neu', 'hap', 'ang', 'fru', 'exc', 'oth']
df_iemocap = df_iemocap.loc[df_iemocap.emotion.isin(current_emos)]
df_enterface = df_enterface.loc[df_enterface.emotion.isin(current_emos)]
df_ravdess = df_ravdess.loc[df_ravdess.emotion.isin(current_emos)]


df_iemocap['emotion'] = df_iemocap['emotion'].replace({'sur': 'oth', 'fea': 'oth', 'dis': 'oth'})
df_enterface['emotion'] = df_enterface['emotion'].replace({'sur': 'oth', 'fea': 'oth', 'dis': 'oth'})
df_ravdess['emotion'] = df_ravdess['emotion'].replace({'sur': 'oth', 'fea': 'oth', 'dis': 'oth'})

In [12]:
df_iemocap

,start_time,end_time,file_path,emotion,session,sex,length
0,4.24,5.2300,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,0.9900
1,5.26,7.1600,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,1.9000
2,7.35,8.8500,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,1.5000
3,9.20,13.0200,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,3.8200
4,13.04,22.7400,/home/student/keropyan/data/iemocap/Session1/s...,fru,1,F,9.7000
...,...,...,...,...,...,...,...
10032,323.43,326.7100,/home/student/keropyan/data/iemocap/Session5/s...,ang,5,M,3.2800
10033,327.03,337.6500,/home/student/keropyan/data/iemocap/Session5/s...,ang,5,M,10.6200
10036,360.78,366.1200,/home/student/keropyan/data/iemocap/Session5/s...,fru,5,M,5.3400
10037,367.03,369.6377,/home/student/keropyan/data/iemocap/Session5/s...,ang,5,M,2.6077
10038,372.59,377.3700,/home/student/keropyan/data/iemocap/Session5/s...,ang,5,M,4.7800

In [13]:
df_iemocap.to_csv('../data/preprocessed_data/filtered_emotions_paths/df_iemocap.csv', index=False)
df_ravdess.to_csv('../data/preprocessed_data/filtered_emotions_paths/df_ravdess.csv', index=False)
df_enterface.to_csv('../data/preprocessed_data/filtered_emotions_paths/df_enterface.csv', index=False)

In [2]:
df_iemocap = pd.read_csv('../data/preprocessed_data/filtered_emotions_paths/df_iemocap.csv')
df_ravdess = pd.read_csv('../data/preprocessed_data/filtered_emotions_paths/df_ravdess.csv')
df_enterface = pd.read_csv('../data/preprocessed_data/filtered_emotions_paths/df_enterface.csv')

In [3]:
lns = list(df_iemocap.length)
lns.extend(df_ravdess.length)
lns.extend(df_enterface.length)

In [4]:
len(lns)

10067

In [5]:
sum(lns)

42608.116699999955

In [20]:
(np.array(lns) < 3).sum()

3785

## train test  split

In [27]:
df_ravdess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248 entries, 0 to 1247
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   file_path  1248 non-null   object
 1   emotion    1248 non-null   object
 2   actor      1248 non-null   int64
 3   sex        1248 non-null   object
 4   length     1248 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 48.9+ KB

In [28]:
iemocap_train = df_iemocap[df_iemocap['session'] != 4][['file_path', 'emotion']]
iemocap_test = df_iemocap[df_iemocap['session'] == 4][['file_path', 'emotion']]

enterface_train = df_enterface[df_enterface['subject'] <= 36][['file_path', 'emotion']]
enterface_test = df_enterface[df_enterface['subject'] > 36][['file_path', 'emotion']]

ravdess_train = df_ravdess[df_ravdess['actor'] <= 20][['file_path', 'emotion']]
ravdess_test = df_ravdess[df_ravdess['actor'] > 20][['file_path', 'emotion']]

In [36]:
train_paths = pd.concat([iemocap_train, enterface_train, ravdess_train])
test_paths = pd.concat([iemocap_test, enterface_test, ravdess_test])

In [37]:
train_paths

                                              file_path emotion
0     /home/student/keropyan/data/iemocap/Session1/s...     fru
1     /home/student/keropyan/data/iemocap/Session1/s...     fru
2     /home/student/keropyan/data/iemocap/Session1/s...     fru
3     /home/student/keropyan/data/iemocap/Session1/s...     fru
4     /home/student/keropyan/data/iemocap/Session1/s...     fru
...                                                 ...     ...
1191  /home/student/keropyan/data/RAVDESS/Actor_01/0...     oth
1192  /home/student/keropyan/data/RAVDESS/Actor_01/0...     sad
1193  /home/student/keropyan/data/RAVDESS/Actor_01/0...     neu
1194  /home/student/keropyan/data/RAVDESS/Actor_01/0...     oth
1195  /home/student/keropyan/data/RAVDESS/Actor_01/0...     hap

[8080 rows x 2 columns]

In [38]:
test_paths

                                              file_path emotion
4343  /home/student/keropyan/data/iemocap/Session4/s...     neu
4344  /home/student/keropyan/data/iemocap/Session4/s...     ang
4345  /home/student/keropyan/data/iemocap/Session4/s...     ang
4346  /home/student/keropyan/data/iemocap/Session4/s...     ang
4347  /home/student/keropyan/data/iemocap/Session4/s...     fru
...                                                 ...     ...
1243  /home/student/keropyan/data/RAVDESS/Actor_24/0...     ang
1244  /home/student/keropyan/data/RAVDESS/Actor_24/0...     oth
1245  /home/student/keropyan/data/RAVDESS/Actor_24/0...     neu
1246  /home/student/keropyan/data/RAVDESS/Actor_24/0...     neu
1247  /home/student/keropyan/data/RAVDESS/Actor_24/0...     hap

[1987 rows x 2 columns]

In [39]:
train_paths.to_csv('../data/preprocessed_data/filtered_emotions_paths/train_paths.csv', index=False)
test_paths.to_csv('../data/preprocessed_data/filtered_emotions_paths/test_paths.csv', index=False)